.nav-item {
  margin: 0;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.nav-item a {
  color: #ffffff;
  text-decoration: none;
  height: 100%;
  padding: 16px 10px;
  box-sizing: border-box;
  display: block;
}

.nav-item a:hover {
  color: #bed1e7;
}
